@model HireGnome.ViewModels.ShowCartViewModel
@{
    ViewBag.Title = "Cart Content";
}

<h2>Products the cart "@Model.Name"</h2>

<ul>
    @foreach (var element in Model.Products)
    {
        <li>@element.Name <a style="color:black" href="@Url.Action("DeleteProduct", "Cart", new { cart_id = Model.Id, product_id = element.Id })"><b>Delete item from cart</b></a></li>
    }
</ul>

<button id="check-out-button" class="btn btn-success btn-lg">Checkout</button>

<script>
    document.getElementById("check-out-button").addEventListener("click", function () {
        window.location.assign("/CheckOut/Confirmation");
    });
</script>