@model HireGnome.ViewModels.ShowCartViewModel
@{
    ViewBag.Title = "Cart Content";
}

<h2>Products in your main cart (@Model.Name):</h2>

<ul>
    @foreach(var element in Model.Products)
    {
        <li>@element</li>
    }
</ul>
