@model HireGnome.ViewModels.ShowUserCartsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.User.FirstName shopping carts</h2>

<ul>
    @foreach (var cart in Model.Carts)
    {
        <li>
            @if (cart.IsMainCart)
            {
                <b>Main cart |</b>
            }
            @cart.Name | 
            @if (cart.IsBilled)
            {
                <b>This cart was already payed</b>
            }
            else if (!cart.IsMainCart)
            {
                <button class="btn btn-info" onclick='window.location.assign("/Cart/ChangeMainCart/@cart.Id")'>Make it your main cart</button>
            }
            <button class="btn btn-success" onclick='window.location.assign("/Cart/CartContentById/@cart.Id")'>View content</button>
        </li>
    }
</ul>

<a style="color:black;" href="@Url.Action("NewCart", "Cart")">Add a new cart</a>


